*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 168px;
    grid-auto-rows: 168px;
    gap: 1em;
    padding: 1em;
}
.cards{
    /* border: 1px solid black; */
    /* align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 2px 6px rgba(0, 0, 0, 0.1) ;
}
@media (max-width: 576px) {
    .container{
        /* width: 80%; */
        /* max-width: 576px; */
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 359px) {
    .container{
        /* width: 80%; */
        /* max-width: 359px; */
        grid-template-columns: 1fr ;
    }
    
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1em ;
    padding: 1em;
}
.navbar>img{
    max-width: 100px;
}